html[data-dpr="1"] body {
  font-size: 14px;
}
html[data-dpr="2"] body {
  font-size: 28px;
}
html[data-dpr="3"] body {
  font-size: 42px;
}
body{
  visibility: visible;
  background-color: #ededed;
}
